.events
    - events.each do |event|
        .event
            .event-left
                .event-date="#{event['date']['month_abbr']} #{event['date']['date']}"
            .event-right
                .event-top
                    .artist=event["artist"]
                .event-middle
                    .event-venue=event["venue"]
                    .event-time=event["time"]
                    .event-location=event["location"]
                -# .event-bottom
                -#     .event-url
                -#         %a{ href: event["url"] }
                -#             LiveNation