.description
    %p Subscribe to receive email updates as Ticket Master adds new concerts to the settlement concert list.
=styled_flash
%form( action="subscribe" method="post" )
    .input
        %input.button( type="email" name="email" )
        %input.button( type="submit" value="Subscribe" )
