!!!
%html
    %head
        %title Ticket Master Settlement Concert Alerts
        %link(rel="stylesheet" href="/css/main.css")
    %body
        #container
            .header
                %p Ticket Master Settlement Updates
            .description
                %p Subscribe to receive email updates as Ticket Master adds new concerts to the settlement concert list.
            #content
                =yield