!!!
%html
    %head
        %title Ticket Master Settlement Concert Alerts
        %link(rel="stylesheet" href="/css/main.css")
    %body
        #container
            .header
                %p Ticket Master Settlement Updates
            #content
                =yield