html {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #2E3740;
    color: #CDD8E4;    
}

#container {
    width: 500px;
    margin: 0 auto;
    padding: 10px;
}

/* INDEX PAGE */

.flash {
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

.flash.error {
    color: #703C00;
    background: #FF9A26;
    border: 2px solid #E07800;
}

.flash.success {
    color: #033147;
    background: #58B0DA;
    border: 2px solid #033147;
}

.header {
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
}

.description {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.3em;
    margin: -2px 0 45px;
    text-align: center;
}

.input {
    display: flex;
    align-items: center;
}

.button {
    height: 44px;
    border: none;
}

input[type="email"] {
    width: 75%;
    background: #CDD8E4;
    font-family: inherit;
    font-weight: bold;
    color: #2E3740;
    letter-spacing: 1px;
    text-indent: 5%;
    border-radius: 5px 0 0 5px;
}

input[type="submit"] {
    width: 25%;
    height: 46px;
    background: #1FCE6D;
    font-family: inherit;
    font-size: 18px;
    letter-spacing: 1px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background .3s ease-in-out;
}

input[type="submit"]:hover {
    background: #55E292;
}

input[type="submit"]:focus {
    outline: none;
}

input[type="submit"]:active {
    outline: none;
    background: #1FCE6D;
}

input[type="email"]:focus {
    outline: none;
    /*outline: 2px solid #1FCE6D;*/
    box-shadow: 0 0 0 2px #1FCE6D inset; 
}

/* EVENTS PAGE */
.event-middle div {
    display: inline-block;
}